@model IEnumerable<fall2024_assignment3_sixao8.Models.Actor>

@{
    ViewData["Title"] = "Index";
}
<div>
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="index-layout">
        @foreach (var item in Model) {
            <div class="index-item" >
                <h3>@Html.DisplayFor(modelItem => item.Name)</h3>
                <div>
                    @if(item.ProfilePic != null)
                        {
                            var base64 = Convert.ToBase64String(item.ProfilePic);
                            var imgSrc = string.Format("data:image/png;base64,{0}", base64);
                            <img src="@imgSrc" height="100" width="100" style="border-radius:50%" />
                        }
                </div>
                <p>@Html.DisplayFor(modelItem => item.Gender)</p>
                <p>@Html.DisplayFor(modelItem => item.Age)</p>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>
        