@model IEnumerable<fall2024_assignment3_sixao8.Models.Movie>

@{
    ViewData["Title"] = "Index";
}

<div>
    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <div class="index-layout">
        @foreach (var item in Model)
        {
            <div class="index-item">
                <h4>
                    @Html.DisplayFor(modelItem => item.Title)
                </h4>
                <div class="detail-info-photo">
                    @if (item.Media != null)
                    {
                        var base64 = Convert.ToBase64String(item.Media);
                        var imgSrc = string.Format("data:image/png;base64,{0}", base64);
                        <img src="@Url.Action("GetMoviePoster", "Movies", new { item.Id })" width="200" />
                    }
                </div>
                <p href="@Html.DisplayFor(modelItem => item.IMDB)">
                    IMDB
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.Genre)
                </p>
                <p>
                    @Html.DisplayFor(modelItem => item.releaseYear)
                </p>
                <div>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </div>
            </div>
        }
    </div>
</div>